<!DOCTYPE html>
<html>
  <head>
    <style>
    a:visited {
      color: #fff
    }
    </style>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Photogur</h1>
        <p>Photogur is a website for photographers to share their best photos with the world. Check out photos from fellow photographers around the world, and even share your best photos for everyone to see!</p>
        <p><a class="btn btn-primary btn-lg" href="pictures" role="button">Check them out!</a></p>
      </div>
    </div>
  </body>
</html>
